@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(0 0% 98.0392%);
  --foreground: hsl(210 25% 7.8431%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(210 25% 7.8431%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(210 25% 7.8431%);
  --primary: hsl(210 83.0189% 53.3333%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(125 46.2264% 38.2353%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(0 0% 96.0784%);
  --muted-foreground: hsl(210 25% 7.8431%);
  --accent: hsl(36 91.8033% 48.2353%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 72.5806% 50.5882%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(0 0% 89.8039%);
  --input: hsl(0 0% 96.4706%);
  --ring: hsl(210 83.0189% 53.3333%);
  --chart-1: hsl(210 83.0189% 53.3333%);
  --chart-2: hsl(125 46.2264% 38.2353%);
  --chart-3: hsl(36 91.8033% 48.2353%);
  --chart-4: hsl(147.1429 78.5047% 41.9608%);
  --chart-5: hsl(341.4894 75.2000% 50.9804%);
  --sidebar: hsl(0 0% 100%);
  --sidebar-foreground: hsl(210 25% 7.8431%);
  --sidebar-primary: hsl(210 83.0189% 53.3333%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(0 0% 96.0784%);
  --sidebar-accent-foreground: hsl(210 83.0189% 53.3333%);
  --sidebar-border: hsl(0 0% 89.8039%);
  --sidebar-ring: hsl(210 83.0189% 53.3333%);
  --font-sans: 'Inter', sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --neutral-50: hsl(0 0% 98.0392%);
  --neutral-100: hsl(0 0% 96.0784%);
  --neutral-600: hsl(210 25% 25.8824%);
}

.dark {
  --background: hsl(0 0% 0%);
  --foreground: hsl(200 6.6667% 91.1765%);
  --card: hsl(228 9.8039% 10%);
  --card-foreground: hsl(0 0% 85.0980%);
  --popover: hsl(0 0% 0%);
  --popover-foreground: hsl(200 6.6667% 91.1765%);
  --primary: hsl(210 83.0189% 53.3333%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(125 46.2264% 38.2353%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(0 0% 9.4118%);
  --muted-foreground: hsl(210 3.3898% 46.2745%);
  --accent: hsl(36 91.8033% 48.2353%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 72.5806% 50.5882%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(210 5.2632% 14.9020%);
  --input: hsl(207.6923 27.6596% 18.4314%);
  --ring: hsl(210 83.0189% 53.3333%);
  --chart-1: hsl(210 83.0189% 53.3333%);
  --chart-2: hsl(125 46.2264% 38.2353%);
  --chart-3: hsl(36 91.8033% 48.2353%);
  --chart-4: hsl(147.1429 78.5047% 41.9608%);
  --chart-5: hsl(341.4894 75.2000% 50.9804%);
  --sidebar: hsl(228 9.8039% 10%);
  --sidebar-foreground: hsl(0 0% 85.0980%);
  --sidebar-primary: hsl(210 83.0189% 53.3333%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(0 0% 9.4118%);
  --sidebar-accent-foreground: hsl(210 83.0189% 53.3333%);
  --sidebar-border: hsl(210 5.2632% 14.9020%);
  --sidebar-ring: hsl(210 83.0189% 53.3333%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
    font-family: var(--font-sans);
  }
}

.animation-delay-200 {
  animation-delay: 200ms;
}

.animation-delay-400 {
  animation-delay: 400ms;
}
